body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafaf5;
    text-align: center;
}

.colored-section {
    background-color: #dcd2f0;
    box-shadow: 0 0 30px #aaaaaa;
}

.item-link {
    text-decoration: none;
    color: inherit;
}

.item-link:hover {
    color: #7332ff;
}

.section-title {
    color: #626262;
    /* TODO tweak */
    padding: 85px 0 50px 0;
    margin: 0 40px;
}

h2 {
    font-weight: bold;
}

.shadowed {
    box-shadow: 0 0 30px #aaaaaa;
}

/* First */

#first-section {
    overflow: auto;
    background-image: url("/images/binary.jpg");
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2rem;
    border-radius: 70px;
}

.hello p {
    font-weight: bold;
    color: #626262;
    font-size: calc(1.3rem + 2.7vw);
    text-align: left;
}

@media (min-width: 1200px) {
    .hello p {
        font-size: 3.325rem;
    }
}

@media (max-width: 576px) {
    .hello p {
        text-align: center;
    }
}

.initially-hidden {
    visibility: hidden;
}

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1.0; }
}

/* Projects */

.carousel-inner {
    min-height: 270px;
    display: flex;
    align-items: center;
}

.carousel-item {
    padding: 0 15%;
    color: #6c6c6c;
}

.carousel-item p {
    font-size: calc(1.17rem + 0.2vw);
}

/* Pages */

#pages-section .container {
    text-align: left;
}

.pages-item {
    margin-bottom: 3rem;
    border-radius: 20px;
    background-color: #dcd2f0;
    padding: 1rem;
    box-shadow: 0 0 30px #bebebe;
    color: #6c6c6c;
}

.pages-item p {
    font-size: 1.15rem;
}

.placeholder-item {
    height: 180px;
}

.read-page-container {
    height: 32px;
    text-align: right;
}

.read-page {
    font-size: 1.5rem;
    color: #626262;
}

.read-page:hover {
    font-size: 1.6rem;
    color: #7332ff;
}

.all-pages-container {
    height: 32px;
    margin: 2rem 0 5rem 0;
}

.all-pages {
    font-size: 1.6rem;
    color: #626262;
}

.all-pages:hover {
    font-size: 1.7rem;
    color: #7332ff;
}

/* Nine Morris 3D */

#nine-morris-3d-section p {
    font-size: 1.3rem;
    color: #626262;
    max-width: 350px;
    margin: 0 auto 4.5rem auto;
}

#nine-morris-3d-section img {
    width: 95%;
    max-width: 450px;
    margin-bottom: 1.5rem;
    border-radius: 6px;
}

#nine-morris-3d-section a {
    text-decoration: none;
    color: #7332ff;
}

/* About */

#about-section {
    padding: 0 0 4.5rem 0;
}

@media (min-width: 992px) {
    #about-section {
        padding: 0 15% 4.5rem 15%;
    }
}

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    max-width: 600px;
    padding-bottom: 2rem;
}

.description p {
    font-size: 1.3rem;
    color: #626262;
}

#about-section img {
    width: 180px;
    border-radius: 45%;
    margin-bottom: 1rem;
}

.social-media {
    font-size: 1.9rem;
}

.social-media i {
    padding: 0 5px;
    color: #626262;
}

.social-media i:hover {
    font-size: 2.17rem;
    padding: 0 3px;
    color: #7332ff;
}

.social-media .explanation {
    display: inline;
    font-size: 0.8rem;
    color: #626262;
}

/* Contact */

#contact-section {
    padding-bottom: 4.5rem;
}

#contact-section p {
    color: #626262;
}
