body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafaf5;
}

.colored-section {
    background-color: #dcd2f0;
    box-shadow: 0px 0px 30px rgb(170, 170, 170);
}

.item-link {
    text-decoration: none;
    color: inherit;
}

.section-title {
    font-weight: bold;
    color: #646464;
    text-align: center;
    /* TODO tweak */
    padding: 85px 0 50px 0;
    margin: 0 40px;
}

/* TODO maybe remove */
.section-centered {
    text-align: center;
}

.shadowed {
    box-shadow: 0px 0px 30px rgb(170, 170, 170);
}

/* First */

#first-section {
    overflow: auto;
    background-image: url("/images/binary.jpg");
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 70px;
}

.hello p {
    font-weight: bold;
    color: #646464;
    font-size: calc(1.3rem + 2.7vw);
    text-align: left;
}

@media (min-width: 1200px) {
    .hello p {
        font-size: 3.325rem;
    }
}

@media (max-width: 576px) {
    .hello p {
        text-align: center;
    }
}

.initially-hidden {
    visibility: hidden;
}

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}

/* Projects */

.carousel-inner {
    min-height: 270px;
    display: flex;
    align-items: center;
}

.carousel-item {
    padding: 0 15%;
}

.carousel-item h2 {
    font-weight: bold;
    color: #646464;
}

.carousel-item p {
    font-size: calc(1.17rem + 0.2vw);
    color: #646464;
}

/* Pages */

#pages-section .container {
    text-align: left;
}

.pages-item {
    margin-bottom: 45px;
    border-radius: 20px;
    background-color: #dcd2f0;
    padding: 15px;
    box-shadow: 0px 0px 30px rgb(200, 200, 200);
    color: #6e6e6e;
}

.placeholder-item {
    height: 170px;
}

.pages-item .title {
    font-weight: bold;
}

.pages-item .date {
    font-size: 1.15rem;
}

.pages-item .preview {
    font-size: 1.15rem;
}

.read-page-container {
    height: 32px;
    text-align: right;
}

.read-page {
    font-size: 1.5rem;
    color: #646464;
}

.read-page:hover {
    font-size: 1.6rem;
    color: rgb(110, 50, 250);
}

.all-pages-container {
    height: 28px;
    margin: 20px 0 70px 0;
}

.all-pages {
    font-size: 1.6rem;
    color: #646464;
}

.all-pages:hover {
    font-size: 1.7rem;
    color: rgb(110, 50, 250);
}

/* Nine Morris 3D */

#nine-morris-3d-section p {
    font-size: 1.3rem;
    color: #646464;
    max-width: 350px;
    margin: 0 auto 70px auto;
}

#nine-morris-3d-section img {
    width: 95%;
    max-width: 450px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#nine-morris-3d-section a {
    text-decoration: none;
    color: rgb(110, 50, 250);
}

/* About */

#about-section {
    padding: 0 0 70px 0;
}

@media (min-width: 992px) {
    #about-section {
        padding: 0 15% 70px 15%;
    }
}

.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}

.description p {
    font-size: 1.3rem;
    color: #646464;
}

.picture p {
    font-size: 1.2rem;
    color: #7d7d7d;
}

.picture img {
    width: 180px;
    border-radius: 45%;
    margin-bottom: 10px;
}

.social-media {
    font-size: 1.9rem;
}

.social-media i {
    padding: 0 5px;
    color: #646464;
}

.social-media i:hover {
    font-size: 2.17rem;
    padding: 0 3px;
    color: rgb(110, 50, 250);
}

/* Contact */

#contact-section {
    padding: 0 0 70px 0;
}

#contact-section p {
    color: #646464;
}
