body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafaf5;
    text-align: center;
}

section {
    padding: 4rem 0;
}

p {
    font-size: calc(1.1rem + 0.2vw);
    color: #626262;
}

.shadowed {
    box-shadow: 0 0 30px #aaaaaa;
}

.generic-link {
    text-decoration: none;
    color: inherit;
}

.generic-link:hover {
    color: #7332ff;
}

.outlined-link {
    color: inherit;
}

.outlined-link:hover {
    color: #7332ff;
}

.colored-section {
    background-color: #dcd2f0;
    box-shadow: 0 0 30px #aaaaaa;
}

.section-title {
    color: #626262;
    font-weight: bold;
    margin: 0 2.5rem;
    margin-bottom: 3.5rem;
}

#first-section {
    overflow: auto;
    background-image: url("/images/binary.jpg");
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2rem 4.5rem;
    border-radius: 70px;
}

.hello p {
    font-weight: bold;
    font-size: calc(1.8rem + 2.7vw);
    text-align: left;
}

@media (min-width: 1200px) {
    .hello p {
        font-size: 3.325rem;
    }
}

@media (max-width: 576px) {
    .hello p {
        text-align: center;
    }
}

.initially-hidden {
    visibility: hidden;
}

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1.0; }
}

.carousel-inner {
    min-height: 270px;
    display: flex;
    align-items: center;
}

.carousel-item {
    padding: 0 15%;
}

.carousel-item .project-title {
    font-size: calc(1.5rem + 0.2vw);
    font-weight: bold;
}

#nine-morris-3d-section p {
    max-width: 350px;
    margin: 0 auto 4.5rem auto;
}

#nine-morris-3d-section img {
    width: 95%;
    max-width: 450px;
    margin-bottom: 1.5rem;
    border-radius: 6px;
}

#pages-section .container {
    text-align: left;
}

.pages-article {
    margin-bottom: 3rem;
    border-radius: 20px;
    background-color: #dcd2f0;
    padding: 1rem;
    box-shadow: 0 0 30px #bebebe;
}

.pages-article .page-title {
    font-size: calc(1.5rem + 0.2vw);
    font-weight: bold;
}

.read-page {
    text-align: right;
    margin: 0;
}

.read-page a {
    font-size: 1.5rem;
}

.view-all-pages a {
    font-size: 1.6rem;
}

@media (min-width: 992px) {
    #about-section {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    max-width: 600px;
    padding-bottom: 2rem;
}

#about-section img {
    width: 190px;
    border-radius: 45%;
    margin-bottom: 1rem;
}

.explanation {
    font-size: 0.9rem;
}
