.navigation-bar {
    padding-left: 30px;
    padding-right: 60px;
    background-color: rgb(243,240,240);
}

h1 {
    font-family: "Philosopher", sans-serif;
    color: rgb(90, 90, 90);
}

.nav-item {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 5px;
}
