body {
    font-family: "Montserrat", sans-serif;
    background-color: #faf5e6;
}

main {
    padding: 3rem 0 1rem 0;
    color: #5a5a5a;
}

main .container {
    /* TODO refactor */
    max-width: 1200px;
}

.generic-link {
    text-decoration: none;
    color: inherit;
}

.generic-link:hover {
    color: #000000;
}

.article-title-container {
    border-bottom: #5a5a5a 3px solid;
}

#article-title {
    font-weight: bold;
}

.article-details {
    font-weight: bold;
    margin: 1rem 0 2rem 0;
}

.article-details .article-detail {
    margin-bottom: 0.5rem;
}

#article-date {
    margin-bottom: 0;
}

.article-keywords-head, #article-keywords, .article-last-modified-head, #article-last-modified {
    display: inline;
}

.article-keywords-head, .article-last-modified-head {
    margin-right: 2px;
}

#article-content {
    font-family: "Inter", sans-serif;
    font-size: calc(1rem + 0.3vw);
    line-height: 3rem;
}

.view-all-pages {
    text-align: center;
}

.view-all-pages a {
    font-size: 1.6rem;
    color: #626262;
}
