body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafaf5;
}

p {
    font-size: calc(1.1rem + 0.2vw);
    color: #626262;
}

main {
    text-align: center;
    padding-bottom: 1.5rem;
}

.generic-link {
    text-decoration: none;
    color: inherit;
}

.generic-link:hover {
    color: #7332ff;
}

.pages-header {
    margin: 4rem 0;
}

.quote {
    font-family: "Dancing Script", cursive;
    font-size: calc(2.1rem + 0.2vw);
    margin-bottom: 4rem;
}

.description {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.pages-article {
    text-align: left;
    background-color: #dcd2f0;
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto 2rem auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 30px #bebebe;
}

.pages-article .page-title {
    font-size: calc(1.5rem + 0.2vw);
    font-weight: bold;
}

.read-page {
    text-align: right;
    margin: 0;
}

.read-page a {
    font-size: 1.5rem;
}

.pagination {
    font-size: 1.25rem;
}

.pagination li {
    border-radius: 4px;
    overflow: hidden;
    width: 2.5rem;
    text-align: center;
}

.pagination .active a {
    background-color: #7332ff !important;
    border: solid 1px #7332ff !important;
    color: white !important;
}

.pagination a {
    color: #626262 !important;
}
