body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafaf5;
}

main {
    padding: 3rem 0 1rem 0;
    color: #5a5a5a;
}

main .container {
    /* TODO refactor */
    max-width: 1200px;
}

.generic-link {
    text-decoration: none;
    color: inherit;
}

.generic-link:hover {
    color: #000000;
}

.article-title-container {
    border-bottom: #5a5a5a 3px solid;
}

#article-title {
    font-weight: bold;
}

.article-details {
    font-weight: bold;
    margin: 1rem 0 2rem 0;
}

.article-details .article-detail {
    margin-bottom: 0.5rem;
}

#article-date {
    margin-bottom: 0;
}

.article-topics-head, #article-topics, .article-last-modified-head, #article-last-modified {
    display: inline;
}

.article-topics-head, .article-last-modified-head {
    margin-right: 2px;
}

#article-content {
    font-family: "Inter", sans-serif;
    font-size: calc(1rem + 0.2vw);
    line-height: 2rem;
}

/* Article helpers */

h3, h4, h5 {
    margin: 2rem 0 1rem 0;
    color: #404040;
}

img {
    margin: 1rem 0;
    border-radius: 10px;
}

code {
    color: #470b2e;
}

.code-block {
    background-color: #2e283e;
    color: #f4e2e6;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
}

.code-block-noheader {
    border-radius: 10px;
}

.code-block-header {
    background-color: #242031;
    color: #f4e2e6;
    padding: 0.5rem;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.cmd {
    background-color: #221a23;
    color: #f9cdc7;
    padding: 0.5rem;
    border-radius: 10px;
}

.text-red {
    background-color: #f8dee0;
    color: #da5863;
    padding: 0.5rem;
    border-radius: 10px;
    outline: 1px solid #da5863;
}

.text-red code {
    color: #9e4048;
}

.text-green {
    background-color: #e5f2e4;
    color: #6db668;
    padding: 0.5rem;
    border-radius: 5px;
    outline: 1px solid #6db668;
}

.text-green code {
    color: #487745;
}
