body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafaf5;
}

p {
    font-size: 1.2rem;
    color: #626262;
}

main {
    padding: 3rem 0;
}

li {
    font-size: 1.2rem;
    color: #626262;
    margin: 1rem 0;
}

.outlined-link {
    color: inherit;
}

.outlined-link:hover {
    color: #7332ff;
}
