body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3.7rem;
}

/* Navigation Bar */

nav {
    padding-left: 30px;
    padding-right: 60px;
    opacity: 90%;
}

.nav-item {
    font-size: 1.3rem;
    margin: 0 5px;
}

/* First Page Content */

#first-page {
    overflow: auto;
    background-image: url("../images/page1_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

.first-page-content {
    text-align: center;
}

.self-description {
    margin: 300px 0 450px 0;
    opacity: 70%;
    display: inline-block;
}

.self-description h2 {
    font-size: 3rem;
    font-weight: bold;
}

.self-description .self1 {
    text-align: left;
    margin-bottom: 25px;
}

.self-description .self2 {
    text-align: left;
}

@media (max-width: 641px) {
    .self-description .self1 {
        text-align: center;
    }

    .self-description .self2 {
        text-align: center;
    }
}

/* Projects Section */

#projects {
    background-color: rgb(235, 240, 245);
}

.carousel-item {
    padding: 10% 15%;
    text-align: center;
}

.carousel-item h2 {
    font-weight: bold;
    color: rgb(50, 50, 50);
}

.carousel-item p {
    font-style: italic;
    font-size: 1.4rem;
    color: rgb(40, 40, 40);
}

.item-link {
    text-decoration: inherit;
    color: inherit;
}
