body {
    font-family: "Montserrat", sans-serif;
    /* text-align: center; */
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3.7rem;
}

nav {
    padding-left: 30px;
    padding-right: 30px;
}

.self-description {
    margin: 200px 0 200px 200px;
}

.self-description h2 {
    font-size: 3rem;
    font-weight: bold;
}
