<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light navigation-bar">
    <a class="navbar-brand" href="https://simonmaracine.github.io/">
        <h1>Simon Mărăcine</h1>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://simonmaracine.github.io/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://simonmaracine.github.io/#projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://simonmaracine.github.io/#pages">Pages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://simonmaracine.github.io/#nine-morris-3d">Nine Morris 3D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://simonmaracine.github.io/#about">About</a>
            </li>
        </ul>
    </div>
</nav>
