nav {
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 40px rgb(170, 170, 170);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:hover {
    background-color: #f0f0f0;
}

h1 {
    font-family: "Philosopher", sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

nav li {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 5px;
}
