nav {
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 2px 40px #aaaaaa;
}

.navbar-toggler:focus {
    box-shadow: none;
}

h1 {
    font-family: "Philosopher", sans-serif;
}

.theme-button {

}

nav li {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 5px;
    text-align: left;
}
