nav {
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 2px 40px #aaaaaa;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:hover {
    background-color: #f0f0f0;
}

h1 {
    font-family: "Philosopher", sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

nav li {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 5px;
    text-align: left;
}
