body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(250, 250, 245);
}

.item-link {
    text-decoration: inherit;
    color: inherit;
}

/* Content */

.content {
    text-align: center;
    padding-bottom: 20px;
}

.pages-header {
    margin: 60px 0;
    color: rgb(110, 110, 110);
}

.quote {
    font-family: "Dancing Script", cursive;
    font-size: calc(1.9rem + 0.9vw);
    margin-bottom: 60px;
}

.description {
    font-size: calc(1.02rem + 0.47vw);
    color: rgb(115, 115, 115);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.pages-item {
    text-align: left;
    background-color: rgb(222, 214, 240);
    padding: 15px;
    max-width: 1100px;
    margin: 0 auto 35px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgb(200, 200, 200);
}

.placeholder-item {
    height: 170px;
}

.title {
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.date {
    font-size: 1.3rem;
    color: rgb(110, 110, 110);
}

.preview {
    font-size: 1.15rem;
    color: rgb(110, 110, 110);
}

.read-page-container {
    height: 32px;
    text-align: right;
}

.read-page {
    font-size: 1.6rem;
    color: rgb(105, 105, 105);
}

.read-page:hover {
    font-size: 1.7rem;
    color: rgb(110, 50, 250);
}

.pagination {
    font-size: 1.25rem;
}

.pagination > .active > a {
    background-color: rgb(110, 50, 250) !important;
    border: solid 1px rgb(110, 50, 250) !important;
    color: white !important;
    margin-bottom: 30px;
}

.page-link {
    color: rgb(60, 60, 60) !important;
}
