body {
    font-family: "Montserrat", sans-serif;
    background-color: #faf5e1;
}

.link {
    text-decoration: none;
    color: inherit;
}

main {
    padding: 50px 0 10px 0;
    color: #5a5a5a;
}

main .container {
    /* TODO refactor */
    max-width: 1200px;
}

.title-container {
    border-bottom: #5a5a5a 3px solid;
}

#title {
    font-weight: bold;
}

.details {
    font-weight: bold;
    margin: 10px 0 30px 0;
}

.details .detail {
    margin-bottom: 5px;
}

#date {
    margin-bottom: 0;
}

.keywords-head {
    display: inline;
    margin-right: 2px;
}

#keywords {
    display: inline;
}

.last-modified-head {
    display: inline;
    margin-right: 2px;
}

#last-modified {
    display: inline;
}

#article-content {
    font-family: "Inter", sans-serif;
    font-size: calc(1rem + 0.35vw);
    line-height: 3.1rem;
}

.all-pages-container {
    height: 28px;
    margin-bottom: 50px;
    text-align: center;
}

.all-pages {
    font-size: 1.5rem;
    margin-top: 50px;
    text-align: center;
    color: #646464;
}

.all-pages:hover {
    font-size: 1.6rem;
    color: #7332ff;
}
